<!DOCTYPE HTML>
<html lang="es-ES">
  <head>
     <meta charset="UTF-8">
     <title>Suma de 2 numeros en PHP</title>
  </head>
  <body>
    <H2>Suma de 2 numeros.</H2>
    <form action="#" method="POST">
      <img src="<tmpl_var name=ip>" style="max-width=100%;">
      <img src="<tmpl_var name=evento>" style="max-width=100%;>
    </form>
  </body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
